build/
venv/
__pycache__
.python-version
sim-build*
*.egg-info

tests/**/*.vcd
tests/**/*.fst
tests/**/*.xml
tests/**/coverage.dat

design/src/axi_intercon.sv
design/src/guineveer.sv

design/fpga/vivado*
design/fpga/guineveer/
design/fpga/guineveer.tcl

topwrap.yaml
topwrap/repo_guin