build/
venv/
__pycache__
.python-version
sim-build*
*.egg-info

tests/**/*.vcd
tests/**/*.fst
tests/**/*.xml
tests/**/coverage.dat
tests/**/guineveer.tcl

hw/axi_intercon.sv
tests/fpga/vivado*
tests/fpga/guineveer/
