html2image
antmicro-sphinx-utils @ git+https://github.com/antmicro/antmicro-sphinx-utils.git
pipeline_manager @ git+https://github.com/antmicro/kenning-pipeline-manager
pyyaml
jsonschema2md
myst-parser!=5.0.0
